<div class="container content">
    <form class="form-inline">
        <input type="text" class="form-control" placeholder="Enter search term here" v-model="term" v-on:keyup="search()">
        <button class="btn btn-default btn-sm" v-on:click="clearTerm()">
            Clear Search
        </button>
    </form>
    <div class="row">
        <div class="col-md-8">
            <strong>Accounts</strong>
        </div>
        <div class="col-md-4">
            <strong>Properties</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="list-item"
                v-for="account in accounts"
                v-on:click="selectAccount(account)"
                v-bind:class="{ selected: account === selectedAccount }"
            >
                {{account.AccountName}}
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-item"
                v-for="property in properties"
                v-on:click="selectProperty(property)"
            >
                {{property.Name}}
            </div>
        </div>
    </div>
    <div class="row" v-if="properties.length === 0">
        <div class="col-md-12">
            <div class="text-center">No Matches</div>
        </div>
    </div>
    <div class="alert" v-if="alert.length > 0">
        {{alert}}
        <button class="btn-default" v-on:click="clearAlert()">Close</button>
    </div>
</div>
