<div class="container content">
    <div class="row">
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Enter search term here" v-model="term" v-on:keyup="search()">
        </div>
        <div class="col-md-4">Clear Search</div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <strong>Accounts</strong>
        </div>
        <div class="col-md-4">
            <strong>Properties</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div v-for="account in accounts" v-on:click="selectAccount(account)">
                {{account.AccountName}}
            </div>
        </div>
        <div class="col-md-4">
            <div v-for="property in properties">
                {{property.Name}}
            </div>
        </div>
    </div>
</div>
