<div class="container content">
    <h1>
        😎 {{package}} 😎
    </h1>
    <div class="row">
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Enter search term here">
        </div>
        <div class="col-md-4">Clear Search</div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <strong>Accounts</strong>
        </div>
        <div class="col-md-4">
            <strong>Properties</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div v-for="item in items">
                {{item.AccountName}}
                <ul>
                    <li v-for="property in item.Properties">
                        {{property.Name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            ...
        </div>
    </div>
</div>
